@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
text-align: center;
padding-top: 10px;
}
span > p {font-size: 15px;}
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  text-shadow: black 5px 3px 9px;
  font-weight: bolder;
}

footer {
  padding-top: 100px;
}

a > img {
  border-radius: 50%;
width: 50px;
height: 50px;
}


body {
    height: 100vh;
    
    background:linear-gradient(120deg , rgb(0, 172, 37) , rgb(11, 100, 184) );
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  text-shadow: black 5px 3px 9px;
}


/* div {
height: 100px;
width: 100px;
} */

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:30vh ;
    width: 95vw;
    background: transparent;
    box-shadow: -1px 10px 17px 0px black;
}

.relogio div {
    height: 170px;
    width: 150px;
    display:flex;
    flex-direction:column;
    /* font-size: 60px; */
    color: white;
    background: black;
    box-shadow: 5px 5px 15x black;
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio  span {
    font-weight: bolder;
      font-size: 50px;

}

 
p {

}

.relogio > p {font-size: 100px;}
